#root {
}
.clock-outer {
  position: relative;
  margin: auto;
  height: 40vw;
  /*to make the height and width responsive*/
  width: 40vw;
  /*setting our background image*/
  background-size: 100%;
  border: 1;
  box-shadow: 0 0 5px 0 lavender;
  background-color: lavender;
  border-radius: 15%;
}

#clock-hour,
#clock-minute,
#clock-second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#clock-hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#clock-minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#clock-second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
  box-shadow: 0 0 5px 0 gray;
}
